 <div class="user-details">
  <h1> Our vision </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Store</h2>
	  <img src="/assets/img/demo5.jpg" alt="" height="300em" />
      <p>Sneaker & Fashion store</p>
    </div>
    <div class="tech">
      <h2>Services</h2>
	  <img src="/assets/img/demo4.jpg" alt="" height="300em" />
      <p>Restorations & cleaning</p>
    </div>
    <div class="tech">
      <h2>More</h2>
	  <img src="/assets/img/demo2.jpg" alt="" height="300em" />
      <p>Exclusive releases & vintage streetwear  </p>
    </div>
</div>
