<div class="user-details">
  <h1> Featured Products </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/demo1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Sneakers </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="http://instagram.com/karatbrussels">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/demo1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Clothing </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="http://instagram.com/karatbrussels">Check it out</a>
  </div>
</div>
